/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------CSS_RESET_ABOVE-------------------------------*/

:root {
    --Beige: #DAD3B7;
    --Orange: #DB9F34;
    --DarkOrange: #DB8E36;
    --Teal: #2D838D;
    --Apple: #D74452;
  }

body {
    background-color: var(--Beige);
    font-family: Comfortaa-Light, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    line-height: 1.6;
}

/*---------HEADER---------*/
header {
    background-color: var(--Teal);
}

nav {
    text-align: right;
    padding: 15px;
    font-family: Comfortaa-Bold, Arial, Helvetica, sans-serif;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: var(--Orange);
 }
 nav a:hover {
    color: var(--Apple);
  }


h1, h2, h3, h4, h5 {
    font-family: Comfortaa-Bold, Arial, Helvetica, sans-serif;
}


h1 {
    float: left;
    font-size: 1em;
    color: var(--Orange);
}

h2 {
    font-size: 4em;
    text-align: center;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
    text-align: center;
}


img {
    max-width: 100%;
}

section  {
    text-align: center;
}


#about {
    background-image: url("images/Claire-Singara.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 175px;
    color: white;
}

#about p {
    margin: 50px;
    font-size: 2em;
}

#books {
    width: 400px;
    margin: 0 auto;
    /* padding: 50px; */
}
#books p {
    
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
}

#books img {
    border: solid white 10px;
    width: 380px;
    height: 300px;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 25px;
}

#bookOne, #bookTwo, #bookThree, #bookFour {
    width: 400px;
}

#events {
    background-color: var(--Teal);
    margin: 0 auto;
    padding-bottom: 100px;
}



#locationGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    /* background-color: lightblue; */
}

#booksGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    /* background-color: lightblue; */
}
/*-------------MED SCREEN SIZE----------------*/
@media screen and (min-width:900px){
    #books { 
        width: 900px;
    }

    #booksGrid {
        grid-template-columns: repeat(2, 1fr);
        width: 900px;
    }

    #locationGrid {
        grid-template-columns: repeat(2, 1fr);
        /* background-color: var(--Orange); */
        /* border: solid red 5px; */
        width: 900px;
        margin: 0 auto;
    }

    #about {
        background-image: url("images/hero.jpg");
    }
}

/*-------------LARGE SCREEN SIZE----------------*/
@media screen and (min-width:1450px){

    #books { 
        width: 1450px;
    }

    #booksGrid {
        grid-template-columns: repeat(4, 1fr);
        /* background-color: lavender;
        border: solid red 5px; */
        width: 1450px;
        gap: 0px;
    }

    #books img {
        border: solid white 10px;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    #bookOne, #bookTwo, #bookThree, #bookFour {
        width: 350px;
    }

    #locationGrid {
        grid-template-columns: repeat(4, 1fr);
        gap: 100px;
        /* border: solid red 5px; */
        width: 1350px;
        margin: 0 auto;
        /* background-color: var(--Apple); */
    }

    #about {
        background-image: url("images/hero.jpg");
    }
}

/*
.grid-col-span {
    grid-column: span 2;
}
*/

#locationOne, #locationTwo, #locationThree, #locationFour {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    /* background-color: lightblue; */
    /* border: solid coral 2px; */
}

#events h3 {
    padding-top: 15px;
}

#events p {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 25px;
    padding-top: 25px;
}

#events a {
    font-size: 1em;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: var(--Apple);
    border: solid white 3px;
    font-family: Comfortaa-Bold, Arial, Helvetica, sans-serif;
    color: black;
}

#events a:hover {
    background-color: var(--Orange);
}

#newsletter {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

#newsletter h2, footer h2 {
    font-size: 3em;
}

#newsletter input {
    width: 400px;
    height: 50px;
    border: solid darkgray 3px;
    margin-bottom: 25px;
}

#mySubmit {
    background-color: var(--Apple);
}



footer {
    background-color: lightgray;
}

